<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5" >
      <div class="card trx">
        <div class="card-header">
          World
        </div>
        <div class="card-body">
          <p> Stats: </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success mr-1" (click)="initializeGame()">Init</button>
          <button class="btn btn-success mr-1" (click)="runTurn()">Run turn</button>
          <button class="btn btn-success mr-1" (click)="runSimulation()">Run 5 turns</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
      <p *ngFor="let p of world.places">
        <app-place-view [place]="p"></app-place-view>
      </p>
    </div>
  </div>
</div>
