<div class="card trx">
  <div class="card-header">
    Place: {{place.getName()}}
  </div>
  <div class="card-body">
    <p>
      Liczba pszczół: {{place.getBees().length}}
    </p>
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <td width="20%">Id</td>
        <td width="80%">Żywność</td>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let bee of place.getBees()">
        <td>{{bee.id}}</td>
        <td>{{bee.food}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
